@import "vendor";
@import "fonts";
@import "variables";
@import "general";
@import "components";
@import "partials";

.search {
    padding: 10rem 0;
    background: linear-gradient(45deg, $primary, $primary-lighter);

    @include media-breakpoint-down(lg) {
        padding: 8rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 6rem 0;
    }

    &__title {
        font-size: 4rem;
        line-height: 1.3;
        color: $white;

        @include media-breakpoint-down(lg) {
            font-size: 3rem;
        }
        @include media-breakpoint-down(md) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }
    }

    &__form {
        margin-top: 2rem;
        text-align: center;
    }

    &__input {
        padding: 0.5rem 1.5rem;
        font-size: 1.125rem;
    }
}
